NODE_ENV=development

# 数据库
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# MinIO
MINIO_ENDPOINT=
MINIO_PORT=               # 端口
MINIO_USE_SSL=       # 是否使用 SSL
MINIO_ACCESS_KEY=         # 访问密钥
MINIO_SECRET_KEY=         # 密钥
MINIO_DEFAULT_BUCKET=     # 默认存储桶名称

# JWT
JWT_SECRET=123456
JWT_EXPIRED=1d
FILE_SECRET=123456
FILE_TOKEN_EXPIRED=1d
REFRESH_SECRET=123456
REFRESH_TOKEN_EXPIRED=30d

# 上传文件目录
UPLOAD_DIR=
